.app-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 7px;
  padding: 10px 22px;
  border-radius: $primary-border;

  @media (max-width: $breakpoint-md) {
    padding-right: 30px;
  }

  @media (max-width: $breakpoint-sm) {
    flex-direction: column-reverse;
    padding: 10px 22px 10px 0;
  }

  @media (max-width: $breakpoint-xs) {
    padding: 10px 0 0 0;
    margin: 0 auto;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $primary;

    @media (max-width: $breakpoint-sm) {
      position: absolute;
      font-size: 19px;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-left: auto;

    @media (max-width: $breakpoint-xs) {
      justify-content: center;
      margin-right: auto;
    }

    .cluster-selector,
    .connect-button {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      width: 182px;
      height: 32px;
      @media (max-width: $breakpoint-sm) {
        margin-bottom: 16px;
      }
      @media (max-width: $breakpoint-xs) {
        width: 150px;
        font-size: 12px;
      }
    }

    .cluster-selector {
      color: #000000;
    }

    .connect-button {
      background: $primary;
    }
  }

  .policy-card {
    @media (max-width: $breakpoint-xs) {
      margin-right: 0;
    }
  }
}

.notification-list {
  .q-item {
    min-height: 46px;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray-half;
    }

    &:last-child {
      min-height: 30px;
    }
  }
}

.cluster-list {
  left: 50%;
  transform: translateX(50%);
}

.cluster-selector__menu {
  @media (max-width: $breakpoint-xs) {
    left: 50% !important;
    transform: translateX(-50%);
  }
}
