.app-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 7px;
  padding: 10px 22px;
  border-radius: $primary-border;

  @media (max-width: $breakpoint-md) {
    padding-right: 30px;
  }

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
  }

  @media (max-width: $breakpoint-xs) {
    padding: 20px 18px 0;
    margin: 0 auto;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $primary;

    @media (max-width: $breakpoint-sm) {
      position: absolute;
      font-size: 19px;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;

    @media(max-width: $breakpoint-xs) {
      justify-content: center;
      margin-right: auto;
    }

    @media (max-width: $breakpoint-sm) {
      order: 1;
    }

    .cluster-selector,
    .connect-button {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      width: 182px;
      height: 32px;
      @media(max-width: $breakpoint-xs) {
        width: 140px;
        font-size: 12px;
      }
    }

    .cluster-selector {
      color: #000000;
    }

    .connect-button {
      background: $primary;
    }
  }

  .policy-card {
    @media(max-width: $breakpoint-xs) {
      margin-right: 0;
    }
  }
}

.app-header {
  .notification {
    margin-left: auto;
    margin-right: 20px;
  
    @media (max-width: $breakpoint-sm) {
      position: absolute !important;
      right: 0;
      top: 12px;
    }
  
    @media (max-width: $breakpoint-xs) {
      top: 0;
    }
  
    svg {
      fill: $secondary;
    }
  
    .q-focus-helper,
    .q-btn:before {
      display: none;
    }
  
    .q-icon {
      margin: 0 !important;
    }
  }
  
  .notification-animation {
    padding: 0 8px !important;
  
    svg {
      fill: $red-5 !important;
      animation: ring 2s ease-in-out;
    }
  }
  
  @keyframes ring {
  
    0%,
    100% {
      transform: rotate(0deg);
    }
  
    5% {
      transform: rotate(-30deg);
    }
  
    10% {
      transform: rotate(25deg);
    }
  
    15% {
      transform: rotate(-25deg);
    }
  
    20% {
      transform: rotate(20deg);
    }
  
    25% {
      transform: rotate(-20deg);
    }
  
    30% {
      transform: rotate(15deg);
    }
  
    35% {
      transform: rotate(-15deg);
    }
  
    40% {
      transform: rotate(15deg);
    }
  
    45% {
      transform: rotate(0deg);
    }
  }
}

.notification-list {
  .q-item {
    min-height: 46px;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray-half;
    }

    &:last-child {
      min-height:  30px;
    }
  }
}

.notification-prove {
  cursor: context-menu;

  &__btn {
    padding: 0 6px !important;
    margin-left: 8px;
  }
}

.cluster-list {
  left: 50%;
  transform: translateX(50%);
}

.cluster-selector__menu {
  @media (max-width: $breakpoint-xs) {
    left: 50% !important;
    transform: translateX(-50%);
  }
}
