.liquidity-tabs {
  .q-tab-panel {
    padding: 0;
  }
  .q-tab {
    flex-basis: 0;
  }
  .q-tab__label {
    text-transform: uppercase;
    font-weight: 500;
    font-family: $font-secondary;

    @media(min-width: $breakpoint-md) {
      font-size: 23px;
      line-height: 28px;
    }
  }
}
