.certificate-card {
  height: 46px;
  width: 100%;
  min-width: 258px;
  background-color: #F9F9F9;
  padding: 10px 12px;
  font-size: 10px;
  color: $primary;
  .body--dark & {
    color: $white;
    background-color: $primary !important;
  }
  &__status {
    text-decoration: none;
    display: inline-block;
  }
  
  &__policy-name {
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    font-size: 11px;
    line-height: 13px;
    &__text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__info {
    flex-basis: 121px;
    overflow: hidden;
    border-right: 1px solid #e1e1e1;

    &__title {
      text-transform: uppercase;
      font-weight: 500;
      line-height: 11px;
    }
    &__status-line {
      width: 3px;
      height: 26px;
      display: inline-block;
      margin-right: 6px;
      &--negative {
        background-color: $negative-light;
      }
      &--positive {
        background-color: $positive-light;
      }
    }

    &__date {
      font-size: 10px;
      .policy-card & {
        font-size: 14px;
      }
      &--negative {
        color: $negative-light;
      }
      &--positive {
        color: $positive;
        .body--dark & {
          color: $positive-light;
        }
      }
    }
  }

  &__modal-text {
    font-size: 12px;
    font-weight: 500;
  }

  &__action {
    width: 80px;
    text-align: right;
  }

  &__certificate {
    height: 48px;
    svg {
      height: 48px;
      width: 34px;
    }
  }
}

.certificate {
  display: inline-block;
  text-align: center;
  svg {
    path {
      fill: $positive;
      .body--dark & {
        fill: $positive-light;
      }
    }
  }
}

.policy-card {
  width: 228px;

  &__title {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__policy {
    font-size: 11px;

    &__info {
      margin-top: 4px;
      position: relative;
      padding: 2px 0 2px 16px;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 2px;
        width: 3px;
        background-color: $secondary;

        .body--dark & {
          background-color: $white;
        }
      }
    }

    &__title {
      font-weight: 500;
      text-transform: uppercase;
    }

    &__subtitle {
      font-weight: 500;
    }
  }
}

.policy-info {
  width: 14px;
  height: 14px;
  font-weight: 600;
  background-color: $primary;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 10px;
  cursor: pointer;

  .body--dark & {
    background-color: $secondary;
  }
}

.create-certificate-btn.create-certificate-btn {
  background-color: $primary;
  color: $white;
  border-radius: 3px;
  min-height: 24px;
  width: 80px;
  font-size: 9px;
  font-weight: 500;
  padding: 0 4px 0 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  .q-btn__content {
    min-height: 24px;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .body--dark & {
    color: $white;
    background-color: $primary;
    border: 1px solid $secondary;
  }

  .q-icon {
    width: 16px;
    height: 16px;
    background: $warning;
    border-radius: 2px;
    margin-left: 4px
  }
}
