.pool-card {
  min-width: 371px;
  max-width: 100%;
  border: 1px solid #fff;

  @media(min-width: $breakpoint-md) {
    min-width: 397px;
    max-width: 397px;
  }

  @media(max-width: 389px) {
    min-width: 316px;
  }


  &__head {
    font-size: 15px;
    font-weight: 500;
    padding: 9px 20px;
    background-color: $secondary;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__pubkey {
    word-break: break-all;
  }

  &__icons {
    height: 36px;

    img {
      height: 100%;
      border-radius: 50%;
    }

    :nth-child(2) {
      margin-left: -8px;
    }
  }

  body.body--dark & {
    border: 1px solid #ffffff42;
  }
}
