.pool-card {
  min-width: 371px;
  max-width: 100%;
  border: 1px solid #fff;

  @media(min-width: $breakpoint-md) {
    min-width: calc(50% - 24px);
    max-width: calc(50% - 24px);
  }

  @media(max-width: 389px) {
    min-width: 316px;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__income {
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    margin-right: -16px; 
    margin-left: -16px; 
    padding: 8px 24px;
    .body--dark & {
      background-color: $primary;
    }
  }

  &__income &__label {
    color: #000;
    .body--dark & {
      color: #fff;
    }
  }

  &__apr-label {
    font-size: 13px;
    line-height: 15px;
    color: $secondary;
    font-weight: 500;
    .body--dark & {
      color: #fff;
    }
  }

  &__apr-amount {
    color: #000;
    font-size: 32px;
    line-height: 34px;
    font-weight: 500;
    .body--dark & {
      color: #fff;
    }
  }

  &__stats {
    font-size: 15px;
  }

  &__label {
    font-size: 11px;
    list-style: 13px;
    color: $secondary;
    .body--dark & {
      color: #fff;
    }
  }

  &__amount {
    font-size: 19px;
    line-height: 19px;
    color: #000;
    font-weight: 500;
    .body--dark & {
      color: #fff;
    }
  }

  &__icons {
    height: 46px;

    img {
      height: 100%;
      border-radius: 50%;
    }

    :nth-child(2) {
      margin-left: -14px;
    }
  }
  
  &__subtitle {
    font-weight: 500;
    font-size: 23px;
    text-transform: uppercase;
  }

  &__pubkey {
    word-break: break-all;
  }

  body.body--dark & {
    border: 1px solid #ffffff42;
  }

  .policy-info {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 16px;
  }
}

.pools-total {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  border-radius: 6px;
  padding: 13px 24px;
  font-weight: 500;
  min-width: 181px;
  .body--dark & {
    background-color: $secondary;
  }
  &__name {
    text-transform: uppercase;
    color: #E1E1E1;
    font-size: 13px;
  }
  &__value {
    font-size: 25px;
    color: #fff;
  }
}
