$swap-min-height: 392px;
$swap-card-border-color: #fff;
$swap-info-border-color: $light-gray-middle;
$swap-base-color: $yellow !default;
$swap-header-color: $swap-base-color !default;
$swap-btn-color: $swap-base-color !default;
$swap-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !default;
$swap-max-btn-color: $light-gray;
$swap-input-focused-color: rgba($secondary, 0.7) !important;

.swap-loading {
  z-index: 2;
}

.swap-container {
  position: relative;
  overflow: hidden;
  padding: 0 0 20px;
  min-height: $swap-min-height;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    height: $swap-min-height;
    background-color: $secondary;
    display: block;
  }
}

.swap-container-inner {
  margin-top: 70px;
}

.swap-card {
  overflow: hidden;
  border: 1px solid $swap-card-border-color;
  max-width: 460px;
  width: 100%;
  box-shadow: $swap-shadow;

  &__header {
    height: 48px;
    padding: 0;
    background-color: $primary;
    font-size: 23px;
    text-transform: uppercase;
    font-family: $font-secondary;
    font-weight: 500;
    line-height: 28px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__body {
    padding: 20px;
  }

  .q-field--disabled {
    .q-field__inner {
      cursor: default;
    }
    .q-field__control > div {
      opacity: 1 !important;
  }
  }
}

.swap-widget {
  .token-select {
    margin-right: -12px;

    .q-field__native {
      cursor: pointer;
      width: 50px;
      justify-content: center;
    }
    .q-field__control {
      &::before,
      &::after {
        border: none !important;
      }
    }
  }
}

.swap-change {
  position: relative;
  height: 10px;

  .q-btn {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -16px;
    border-radius: 100%;
    height: 68px;
    width: 68px;
    margin: 0 0 0 -34px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background: $primary;
    border-radius: 50%;
    
    @media (max-width: $breakpoint-xs) {
      width: 56px;
      height: 56px;
      top: -12px;
    }

    i {
      height: 68px;


      circle {
        fill: transparent;
      }

      @media (max-width: $breakpoint-xs) {
        width: 56px;
        height: 56px;

        svg {
          width: 56px;
          height: 56px;
        }
      }
    }

    .q-focus-helper {
      display: none;
    }
  }
}

.swap-field {
  min-height: 66px;
  &:last-child {
    margin: 0;
  }

  &__info {
    padding: 0 5px;
    color: $secondary;
  }

  &__label {
    font-weight: 500;
    font-size: 13px;
    color: $secondary;

    &:nth-child(2) {
      padding-left: 20px;
    }
  }

  &__balance {
    text-align: right;
    font-size: 11px;
    text-transform: uppercase;
    color: $secondary;
    flex-wrap: nowrap;

    .insufficient-error {
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: $negative;
      padding-right: 15px;
      text-transform: initial;
    }
  }
}

.swap-input {
  .q-field__control:before {
    border: 1px solid $swap-info-border-color;
  }
  .q-field__control,
  .q-field__marginal {
    height: 48px;
  }

  &.q-field--focused {
    .q-field__control {
      &::after {
        border-color: $swap-input-focused-color;
      }
    }
  }

  input {
    font-size: 15px;
  }

  &__max {
    color: $secondary;
    font-size: 10px;
    font-weight: 400;
    background-color: $swap-max-btn-color;
    padding: 2px 8px 1px 8px;
  }

  &__icon {
    width: 60px;
    text-align: center;

    img {
      height: 35px;
      vertical-align: middle;
      border-radius: 50%;
    }
  }

  &__symbol {
    //margin-left: 10px;
    width: 40px;
    font-size: 15px;
    color: $secondary;
  }
}

.swap-info {
  margin: 20px;
  color: $secondary;

  dl {
    display: flex;
    flex-wrap: nowrap;
    font-size: 11px;
    margin: 0 auto;

    a {
      color: inherit;
    }

    dt,
    dd {
      display: block;
      margin: 0;
      border-bottom: 1px solid $swap-info-border-color;
      padding: 5px;
      width: 50%;
    }

    dt {
      text-align: right;
      border-right: 1px solid $swap-info-border-color;
      padding-right: 10px;
    }

    dd {
      padding-left: 10px;
    }

    &:last-child {
      dt,
      dd {
        border-bottom: 0;
      }
    }
  }
}

.swap-submit {
  .q-btn {
    width: 100%;
    font-size: 15px;
    background-color: $primary;
    color: #fff;
  }
}

.swap-rate {
  text-align: center;
  font-weight: 500;
  font-size: 13px;
}

.swap-card {
  .token-select {
    width: auto;

    .q-field__native {
      width: fit-content;
    }
  }
}

.swap-details {
  margin: 0;
  padding-left: 20px;
  list-style: decimal;
}
