.token-select {
    width: 135px;

    &--inactive {
        opacity: 0.6;
    }

    .q-field__control:before {
        border: 1px solid $swap-info-border-color;
    }

    .q-field--focused {
        .q-field__control {
            &::after {
                border-color: $swap-input-focused-color;
            }
        }
    }

    .q-field--dense .q-field__marginal .q-avatar {
        font-size: 35px;
    }

    .q-field__control-container {
        cursor: pointer;

        span {
            margin-left: 5px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: $secondary;
        }
    }

    .q-field__append {
        display: none;
    }

    .q-field__control,
    .q-field__marginal {
        height: 48px !important;
    }

    &__token {
        .q-item__section {
            min-width: 20px;
            width: 40px;
            text-transform: uppercase;
        }
        .q-avatar {
            font-size: 24px;
            padding: 0;
        }
        .q-item__section {
            padding: 0;
        }
    }
}

.token-search {
    width: 120px;
    height: 40px;

    .q-field__control,
    .q-field__append {
        height: 100%;
    }

    .q-field__control {
        border-radius: 4px 4px 0 0;
    }

    .q-field__control {
        &::before {
            border: none;
        }
    }
    .q-field--focused {
        .q-field__control {
            &::after {
                border-color: $swap-input-focused-color;
            }
        }
    }
    &__close {
        width: 16px;
        height: 16px;
    }
}
