.transfer {
    &-submit {
        font-weight: 400;
        padding-bottom: 15px;
    }

    &-address {
        margin: 10px 0;
        &__label {
            padding: 5px 10px;
            font-weight: 500;
            font-size: 13px;
            color: $secondary;
        }
    }

}
