.warning-disclaimer {
    display: flex;
    flex-wrap: nowrap;
    &__bar {
        background-color: $warning;
        align-self: stretch;
        flex-basis: 30px;
    }
    &__text {
        background-color: #F4F4F4;
        padding: 20px 30px;
        font-size: 12px;
        font-weight: 500;
        color: $black;
        flex-basis: 0;
        flex-grow: 1;
    }
}
