@mfactory-lab:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=false
