body.body--dark {
    background: $primary;

    .app-header {
        &__title {
            color: #fff;
        }
        &__buttons .connect-button {
            background-color: $secondary;
        }

        .notification {
            svg {
                fill: $light-gray-middle;
            }
        }
    }

    .notification-list {
        .q-item {
            border-color: #e4e7eb4f;
        }
    }

    aside {
        background: $secondary;
    }

    .swap-card {
        border: 1px solid #ffffff42;

        &__body {
            background-color: $secondary;
        }
    }

    .q-dark {
        background: $secondary;
    }

    .swap-field__label,
    .swap-field__balance,
    .transfer-address__label,
    .token-select .q-field__control-container span {
        color: #fff;
    }

    .token-search {
        &.q-field--focused {
            .q-field__control {
                &::after {
                    border-color: $light-gray-middle !important;
                }
            }
        }
    }

    .swap-info {
        color: #fff;
    }

    .swap-input {
        &.q-field--focused {
            .q-field__control {
                &::after {
                    border-color: $light-gray-middle !important;
                }
            }
        }
    }

    .q-item.q-router-link--active,
    .q-item--active {
        color: #ddeff8;
    }

    .token-select {
        .q-field--focused {
            .q-field__control {
                &::after {
                    border-color: $light-gray-middle !important;
                }
            }
        }
        .q-field__control-container span {
            color: #fff;
        }
    }

    .converting-card {
        .convert-to span {
            color: #fff;
        }
    }

    .converter {
        &-faucet {
            background: $secondary;
        }

        &-description {
            .switch-network-btn {
                background: $secondary;
                color: #fff;
            }
        }
    }

    // menu

    .menu-container {
        a {
            color: #fff;
        }

        path {
            fill: #fff;
        }
    }

    .main-page-nav a {
        color: #fff;
        &:hover {
            color: $light-gray-middle;
        }
    }
}
