// colors
$primary: #23353d;
$secondary: #455A64;
$yellow: #ffd140;
$negative: #DC3E38;
$negative-light: #ea4b45;
$positive: #007D48;
$positive-light: #00b86a;
$light-gray: #F9F9F9;
$light-gray-half: #E4E7EB;
$light-gray-middle: #e1e1e1;
$white: #FFFFFF;
$black: #000000;


// fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-inter: 'Inter', sans-serif;

//border
$primary-border: 4px;

// breakpoints
$breakpoint-lg: 1173px;
$breakpoint-md: 1024px;
$breakpoint-sm: 900px;
$breakpoint-xs: 650px;
$breakpoint-tn: 450px;
