@import "variables";
@import "components";
@import "vendors";
@import "dark";

body {
    margin: 0;
    font-family: $font-primary;
    min-height: 100vh;
}

main {
    padding: 30px 40px 0;

    @media (max-width: $breakpoint-xs) {
        padding: 40px 0 0 0;
        width: 90%;
        margin: 0 auto;
    }
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    min-height: calc(100vh - 76px);
    width: 100%;

    @media (max-width: $breakpoint-xs) {
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
