@import "variables";
@import "components";
@import "vendors";
@import "dark";

body {
    margin: 0;
    font-family: $font-primary;
    min-height: 100vh;
}

.body--light {
    background-color: #fff;
}

main {
    padding: 30px 40px;
    flex-grow: 1;

    @media (max-width: $breakpoint-xs) {
        padding: 40px 0 30px 0;
        width: 90%;
        margin: 0 auto;
    }
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    min-height: calc(100vh - 76px);
    width: 100%;

    @media (max-width: $breakpoint-xs) {}
}

.monoscaped {
    font-family: Courier;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.transition-duration {
    transition-duration: .1s !important;
}

.q-dialog__inner--minimized {
    padding: 20px;
}

.fs-13 {
    font-size: 13px;
}

.nowrap {
    flex-wrap: nowrap;
}

.app-toggle {
    height: 30px;

    .q-toggle__track {
        height: 26px;
        width: 50px;
        border-radius: 20px;
        border: 1px solid #fff;
        opacity: 1;
    }

    .q-toggle__inner {
        color: #637075;
        width: 50px;
        height: 30px;
    }

    .q-toggle__thumb {
        top: 5px !important;
        left: 2px !important;
        width: 22px;
        height: 22px;
    }

    .q-toggle__inner--truthy .q-toggle__thumb {
        left: 25px !important;
    }

    .q-toggle:not(.disabled) .q-toggle__thumb:before {
        background: $secondary !important;
    }

    .q-toggle__inner--truthy {
        .q-toggle__track {
            opacity: 1;
        }

        .q-toggle__thumb {
            color: #fff;
        }
    }
}


.swap-change {
    position: relative;
    height: 10px;
  
    .q-btn {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: -16px;
      border-radius: 100%;
      height: 68px;
      width: 68px;
      margin: 0 0 0 -34px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      background: $primary;
      border-radius: 50%;
      
      @media (max-width: $breakpoint-xs) {
        width: 56px;
        height: 56px;
        top: -12px;
      }
  
      i {
        height: 68px;
  
  
        circle {
          fill: transparent;
        }
  
        @media (max-width: $breakpoint-xs) {
          width: 56px;
          height: 56px;
  
          svg {
            width: 56px;
            height: 56px;
          }
        }
      }
  
      .q-focus-helper {
        display: none;
      }
    }
  }